.App {
  display: flex;
  gap: 15px;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.red {
  color: red;
  font-size: 2rem;
  padding: 0 20px;
}
.blue {
  color: blue;
  font-size: 2rem;
  padding: 0 20px;
}

button {
  width: 200px;
  outline: none;
  border: none;
  font-weight: 600;
  padding: 10px;
  background: black;
  color: #fff;
  font-size: 16px;
  border-radius: 10px;
  cursor: alias;
}
